<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
            http://www.springframework.org/schema/aop  http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
	<!-- <context:component-scan base-package="com.sohu.wemedia.broadcast">
		排除springmvc的扫描范围，由于子上下文会继承父上下文并覆盖，所以此处扫描controller无用，会被覆盖掉。浪费资源
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan> -->

	<!-- dubbo-provider -->
	<import resource="consumer.xml" />
	 <bean class="com.sohu.wemedia.broadcast.rest.RestDemo" init-method="start">
		<property name="commentService" ref="commentService" />
		<property name="commentRestService" ref="commentRestService" />
	</bean>

</beans>
